@model IEnumerable<Product>
@{
    ViewData["Title"] = "Home Page";
}

<h1>Products - Single Container</h1>
<div class="table">
    <thead>
        <tr>
            <th>    
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ImageFile)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach(var item in Model)
        {
            <tr>
                <th>
                    @Html.DisplayFor(modelitem => item.Name)
                </th>
                <th>
                    @Html.DisplayFor(modelitem => item.Category)
                </th>
                <th>
                    @Html.DisplayFor(modelitem => item.Description)
                </th>
                <th>
                    @Html.DisplayFor(modelitem => item.ImageFile)
                </th>
                <th>
                    @Html.DisplayFor(modelitem => item.Price)
                </th>
            </tr>
        }
       
    </tbody>
   

</div>
